/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
font-family: Arial,sans-serif;
}

.header-nav {
	border:0px solid transparent;
	margin-bottom: 5px;
	background: transparent;
}
/*
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
	border-color: #ebdbba;
	background-color: #ebdbba;		
}
*/
.navbar-default .navbar-toggle{
	border-color: #ebdbba;
	background-color: #ebdbba;
	padding:5px 5px;
	margin:5px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
	border-color: #ddd;
	background-color: rgba(0,0,0,0.3) !important;
}


.navbar-wrapper{
  color: #5a5a5a;
  background-color: #ebdbba;

}
.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-collapse > .nav-menu{
	
	background: url(bg.png) left top repeat-x;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;

  box-shadow: 5px 0px 10px #666;
  

}

.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-header > .row >.logo-div > .logo
{

	background:url(trestlewood-all.png) 0 -41px no-repeat;
	height:65px;

	}

/* Small devices (tablets, 768px and up) */
@media (min-width: 320px) { 
.header-rowone {
	padding-top: 5px;
}
.search-nav {
	min-height:32px !important;
	
	padding-bottom:0px;
}
.search-nav > .container-fluid {
	padding: 0px 0px;
}
.logo-row1 {
display:block;
	background:url(trestlewood-all.png) 0 -41px no-repeat;
	height:60px;
}
.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-header >.logo-div > .logo {
display:none;}
.navbar-form {
	padding: 3px 0px;
	margin: 0px 0px;
}
 
 
}
@media (min-width: 480px) { 
.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-header >.logo-div > .logo {
display:none;}
.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-header >.logo-row1 {
display:block;
	background:url(trestlewood-all.png) 0 -41px no-repeat;
	height:60px;
	padding-top:5px;
}


}
@media (min-width: 768px) { 
.navbar-wrapper > .container > .prod-outer-nav,
.usermenu-nav{
		min-height:32px !important;
		height:32px;
		padding-bottom:5px;
		margin-bottom:5px;
	border:0px solid transparent;

}

.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-header >.logo-row1 {
display:none;
}
.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-header >.logo-div > .logo {
display:block;
	background:url(trestlewood-all.png) 0 -41px no-repeat;
	height:65px;


}
.search-nav > .container-fluid {
	padding: 0px 15px;
}

  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  
} 
/* LARGE DEVICES (LARGE DESKTOPS, 1200PX AND UP) */
@media (min-width: 1200px) { 
.navbar-wrapper > .container > .prod-outer-nav,
.usermenu-nav{
		min-height:32px !important;
		height:32px;
		padding-bottom:5px;
		margin-bottom:5px;
	border:0px solid transparent;

}

.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-header >.logo-div > .logo {
display:block;
	background:url(trestlewood-all.png) 0 -41px no-repeat;
	height:65px;
		

}
.navbar-wrapper > .container-fluid > .header-nav > .container-fluid > .navbar-header >.logo-row1 {
display:none;
}

}

/*END MEDIA QUERIES */
.navbar-wrapper > .prod-container > .prod-outer-nav {
 
  min-height:32px !important;
  margin-bottom:0px;
  border-radius:4px;
}

.ul-navbar-nav > li > a,
.footer > a {padding-top:5px !important; padding-bottom:5px !important;
color: #FFF !important;
font-family: Verdana, Arial,sans-serif;
font-size:12px;

}


.navbar-wrapper > .container > .prod-outer-nav{
background: left top repeat-x #38453e;
	border:0px;

}	
.navbar-wrapper > .container > .prod-outer-nav > .nav > li{
position: relative;
display: inline-block;
}	
.navbar-nav {
margin: 0px 0px;
}	
.usermenu-container {
	min-height: 32px !important;
/*	height:32px; */
}
.navbar-nav > li > a{
padding-top:5px;
padding-bottom: 5px;
}	

.navbar-form {
	border-top: 0px;
	border-bottom: 0px;	
}

.menu-button {
margin:2px 0px;
padding: 2px 5px;
color: #fff;
border-color: #ddd !important;
float:none;
}

.content-wrapper{
background-color: #EBDBBA;
}
/*  to display ul menu on hover */
.ul-dropdown-menu {
	/*
background: #b69e72 url(bg.png) !important;
*/
background: #bfac78 url(bg.png) !important;
}
 .navbar-nav  {
     display: inline;
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #5a5a5a;
   }
   .navbar-nav > li:hover,
	.navbar-nav > .open > a:hover,
	.navbar-nav > .open > a:focus{
	background-color:rgba(0,0,0,0.05) !important;
	color:#555;
   }
    .ul-dropdown-menu > li > a:hover,
    .ul-dropdown-menu > li > a:focus {
     /*
	 background-color: #bfac78;
	 */
	 background-color:#b69e72 !important;
   }

   .navbar-nav .open .dropdown-menu {
	   
     border-bottom: 1px solid #38453e; 
     border-radius: 0;
   }
 
 /* end of display ul menu on hover */

.navbar-collapse {
	padding-right:0px;
}

.footer{
background: left top repeat-x #38453e;
	border:0px;
	padding: 0px 5px;
	color:#FFF;
text-align: center;
}
footer {
background: url(footer-bg.jpg) left top repeat-x;
height:300px;

}